<table>
    <thead>
        <th *ngFor="let val of dataSource[0] | keysPipe">
            {{ val }}
        </th>
    </thead>
    <tbody>
        <ng-template ngFor let-data [ngForOf]="dataSource 
         | filteringPipe:filteringField:filteringCriteria
         | sortingPipe:sortingField:sortingCriteria" let-idx="index">
            <tr>
                <td *ngFor="let key of data | keysPipe">
                    {{ dataSource[idx][key] | stringBeautificationPipe:key }}

                </td>
            </tr>
        </ng-template>
    </tbody>
</table>