<table #table>
    <thead>
        <th *ngFor="let val of dataSource[0] | keysPipe">
            {{ val }}
        </th>
    </thead>
    <tbody>
        <ng-template ngFor let-data [ngForOf]="dataSource 
         | filteringPipe:filteringField:filteringCriteria
         | sortingPipe:sortingField:sortingCriteria
         | groupingPipe:grouping:groupingField:groupingCriteria:pipeTrigger
         | pagingPipe:paging:selectedPage:2:pipeTrigger" let-idx="index">
            <ng-content
                *ngTemplateOutlet="data.type === 'dataRow' ? dataRow : groupRow; context: { $implicit: { serviceData: data, data: data.data }}">
            </ng-content>
        </ng-template>
    </tbody>
</table>
<ng-container *ngIf="paging">
    <div #paginator class="paginator">
        <span>Paging is statically set to 2 elements per page. </span>
        <label for="paginator">Go to page </label>
        <select id="paginator" style="margin-left: 10px" [(ngModel)]="selectedPage">
            <option *ngFor="let val of pages" [ngValue]="val">{{ val }}</option>
        </select>
    </div>
</ng-container>
<ng-template #dataRow let-context>
    <tr>
        <td *ngFor="let key of context.data | keysPipe">
            {{ context.data[key] | stringBeautificationPipe:key }}
        </td>
    </tr>
</ng-template>
<ng-template #groupRow let-serviceData let-context>
    <tr>
        <td colspan="5" class="group-row">
            {{ serviceData.serviceData.field}}: {{ serviceData.serviceData.data }}
        </td>
    </tr>
</ng-template>