table {
    border-collapse: collapse;
    border: 1px solid #bbb;
    th,
    td {
        border: 1px solid #bbb;
        padding: 5px;
    }
}

.paginator {
    height: 40px;
    margin-top: 10px;
    padding: 5px;
}

.group-row {
    background-color: #f3f3f3;
}