.container {
    margin: 10px;
}

.example-spacer {
    flex: 1 1 auto;
}

a {
    color: #333;
    text-decoration: none;
    margin-right: 10px;
    &:active, &:visited, &:focus {
        color: #333;
        text-decoration: none;
    }
    &:hover {
        border-bottom: 2px dashed #333;
    }
}
